# Compiled Object files
*.slo
*.lo
*.o
*.exe
*.vcxproj
*.tlog
*.opensdf
*.sdf
*.obj
*.idb
*.pdb
*.filters

# Visual Studio files
*.suo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# LaTeX intermediate files
*.toc
*.aux
*.log
